---
layout: default
---

<article class="post">
  <div class="post-title">{{ page.title }}</div>
  <div class="time-stamp">FILED UNDER: {{ page.category}} </div>
  <div class="time-stamp">{{ page.date  | date: "%B %e, %Y" }}</div>

  <div class="entry">
    {{ content }}
  </div>
  
  <div class="time-stamp"><b>TAG CLOUD:</b> 
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <span class="site-tag">
      <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
      </a>
    </span>
    {% endfor %}
  </div>

<!--  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
